@font-face {
    font-family: Norse;
    src: url('./fonts/Norse-Bold.otf');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --grey-font-color : #2b2b2b;
}

body{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
body > div {
    border: 1px solid black;
}
.left_side{
    flex-grow: 2;
    background-image: url('./img/bgImg.jpg');
    background-size: cover;
    position: relative;
    width: clamp(300px, 400px, 450px);
}
.right_side{
    flex: 3 1 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 12px;
    height: 100%;
    position: relative;
    background-color: rgb(243, 243, 243);
}

.left_side div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background: #00000080 no-repeat;
    padding: 10px 0 10px 0px;
    position: absolute;
    top: 20vh;
    width: 100%;
    gap: 5px;
}

.logo img {
    height: -webkit-fill-available;
    
}

.logo h1 {
    font-family: 'Norse';
    color: #fff;
    font-weight: 900;
    font-size: 54px;
}

.copyright {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.copyright a {
    color: white;
}
form p {
    display: inline-block;
}

.sect_two{
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 8px 10px 0px #8080806b;
    padding-top: 20px;
}

section{
    padding: 18px 30px 8px 30px;
    
}

.sect_two h3 {
    font-size: 22px;
    margin-bottom: 16px;
    color: var(--grey-font-color);
}

label{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sect_one p {
    font-size: 20px;
    font-weight: 550;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    color: var(--grey-font-color);
}

form div{
    display: flex;
    flex-direction: row;
    column-gap: 100px
}

input {
    padding: 4px 8px;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    margin-top: 2px;
    width: 230px;
    font-size: 16px;
}

input:focus{
    outline: 1px solid blue;
    box-shadow: 0 2px 6px grey;
}

.error {
    border: 1px solid red;
}
.error:focus {
    outline: none;
    /*outline: 1px solid red;*/
}

.success {
    border: 1px solid green;
}

.success:focus {
    outline: none;
    /*outline: 1px solid red;*/
}

label[for="password"] span::after {
    content: "*Passwords do not match";
    color: red;
    text-transform: none;
    font-size: 12px;
    letter-spacing: normal;
    font-weight: normal;
}

.sect_three button {
    border-radius: 8px;
    padding: 15px 58px;
    background-color: #596D48;
    color: #FFF;
    font-weight: 700;
    font-size: 18px;
    border: none;
    margin-top: 10px;

}

.sect_three a {
    color: #596D48;
    text-decoration: none;
}

.sect_three a:hover {
    color: #3f4d33;
}
.sect_three p {
    color: var(--grey-font-color);
    font-weight: 600;
    margin-top: 20px;
}